# Python data science on DataCamp Toolbox Part 1

https://github.com/wblakecannon/DataCamp

1.Functions
2.Arguments variable length
3.Lambda functions and error handling

## Python functions
Define functions without parameters
Define functions with one parameter
Define functions that return a value

In [1]:
#built in functions like str()
x=str(5)
print(x)

5

In [3]:
print(type(x))

<class 'str'>

In [4]:
#defining a function
def square():
    new_value=4**2
    print(new_value)

#call function without parameter
square()

16

In [5]:
#function with one parameter:
def square(value):
    new_value=value**2
    print(new_value)

#call function with parameter
square(5)

25

In [6]:
#return values from functions
def square(value):
    #add description of function, add imediatlty after naming function
    """Return the square of a value"""
    new_value=value**2
    return new_value

#call function and pass value of return
num=square(4)

print(num)

16

## Multiple function parameters

In [7]:
def raise_to_power(value1,value2):
    """raise value to the power of value2"""
    new_value=value1**value2
    return new_value


result=raise_to_power(2,3)
print(result)

8

## Tuples
Tuples - like a list can contain multiple values
immutable - cant modify values
constructed using parantheses()

In [8]:
even_numbers=(2,4,6)
print(type(even_numbers))

<class 'tuple'>

In [9]:
#unpacking tuples
a,b,c=even_numbers
print(a)
print(b)
print(c)

2
4
6

In [10]:
#accessing tuple elements,uses zero indexing
print("third_num",even_numbers[2])
print("second_num",even_numbers[1])

third_num 6
second_num 4

In [12]:
#returning multiple values
def raise_both(value1,value2):
    """raise value to the power of value2"""
    new_value1=value1**value2
    new_value2=value2**value1
    new_tuple=(new_value1,new_value2)
    return new_tuple


result=raise_both(2,3)
print(result)

(8, 9)

In [15]:
new_value = 10
def square(value):
    """return a square of a number"""
    new_value2=new_value**2
    return new_value2
square(3)

100

In [16]:
square(256788)

100

In [17]:
#global value
new_val = 10
def square(value):
    """return a square of a number"""
    global new_val
    new_val=new_value**2
    return new_val
square(3)

100

In [18]:
square(256788)

100

In [19]:
new_val

100

## Nested functions
def outer(...):
   """    """"
   x=....
   
   def inner(...):
       y=x**2
   return ...

In [20]:
def raise_both(value1, value2):
    """Raise value1 to the power of value2 and vice versa"""
    new_value1=value1**value2
    new_value2=value2**value1
    
    new_tuple=(new_value1,new_value2)
    return new_tuple
raise_both(2,3)

(8, 9)

In [21]:
def mod2plus5(x1,x2,x3):
    """Returns the remainder plus 5 of three values."""
    
    def inner(x):
        """Returns the remainder plus 5 of a value"""
        return x % 2 +5
    return(inner(x1), inner(x2), inner(x3))

print(mod2plus5(1,2,3))

(6, 5, 6)

In [22]:
#returning functions
def raise_val(n):
    """Return the inner function"""
    def inner(x):
        """Raise x to the power of n"""
        raised=x**n
        return raised
    return inner

square=raise_val(2)
cube=raise_val(3)
print(square(2),cube(4))

4 64

In [23]:
##using nonlocal
def outer():
    """Prints the value of n"""
    n=1
    def inner():
        nonlocal n
        n=2
        print(n)
        
    inner()
    print(n)

outer()

2
2

In [24]:
##ADD a default argument, see in brackets pow=1
def power(number, pow=1):
    """Raise number to the power of pow"""
    new_value = number ** pow
    return new_value
power(9,2)

81

In [25]:
power(9)

9

In [26]:
power(9,1)

9

In [27]:
##flexible argument: *args(1)
def add_all(*args):
    """Sum all values in *args together"""
    
    #initialiaze sum
    sum_all=0
    #accumulate the sum
    for num in args:
        sum_all += num
    return sum_all
add_all(1)

1

In [28]:
add_all(1,2)

3

In [29]:
add_all(5,10,15,20)

50

In [ ]:
#flexible arguments: **kwargs
print_all(name="any name will do", employer="any-company")

In [31]:
def print_all(**kwargs):
    """Print out key-value pairs in **kwargs"""
    
    #print out the key-value pairs
    for key, value in kwargs.items():
        print(key + ": " +value)
        
print_all(name="any name will do", employer="any-company")

name: any name will do
employer: any-company

# Lambda and error handling
## map()

In [32]:
raise_to_power = lambda x,y: x**y
raise_to_power(2,3)

8

In [33]:
#anonumous functions
#functions map takes two arguments: map(func,seq)
#map() applies the functions to ALL elements in the sequence

nums=[48,6,9,21,1]
square_all = map(lambda num: num**2, nums)
print(square_all)

<map object at 0x000001A4AA2BABE0>

In [34]:
print(list(square_all))

[2304, 36, 81, 441, 1]

In [35]:
## error handling
def sqrt(x):
    """Returns the square root of a number"""
    try:
        return x**0.5
    except:
        print('x must be int or float')

sqrt(4)

2.0

In [36]:
sqrt(10)

3.1622776601683795

In [37]:
sqrt('hello')

x must be int or float

In [38]:
sqrt(-9)

(1.8369701987210297e-16+3j)

In [39]:
#exceptions
def sqrt(x):
    """Returns the square root of a number"""
    if x < 0:
        raise ValueError("x must be non-negative")
    try:
        return x**0.5
    except:
        print('x must be int or float')

sqrt(-9)

ValueError: x must be non-negative

In [40]:
## filter() and lambda()
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member: len(member) > 6 , fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Convert result into a list and print it
print(result_list)

['samwise', 'aragorn', 'legolas', 'boromir']

In [41]:
## reduce() and lambda()
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'eddard', 'jon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1, item2: item1 + item2, stark)

# Print the result
print(result)

robbsansaaryaeddardjon

In [ ]:
##bring it all together

# Import pandas
import pandas as pd

# Import Twitter data as DataFrame: df
tweets_df = pd.read_csv('tweets.csv')

# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Raise a ValueError if col_name is NOT in DataFrame
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    # Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1
        
        # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)